<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.capstone.nutri_a">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriA"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <activity
            android:name=".ui.recommend.ResultRecommendFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recipes.ListRecommendRecipesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommend.RecommendFoodActivity"
            android:exported="false"
            android:label="Rekomendasi Makanan" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="Pengaturan" />
        <activity
            android:name=".ui.recipes.RecommendRecipesActivity"
            android:exported="false"
            android:label="Rekomendasi Resep" />
        <activity
            android:name=".ui.search_calories.ResultCaloriesActivity"
            android:exported="false"
            android:label="Hasil Prediksi" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:label="Edit Profile" />
        <activity
            android:name=".ui.recipes.DetailRecipesActivity"
            android:exported="false"
            android:label="Hasil Prediksi" />
        <activity
            android:name=".ui.home.NutritionCalculateActivity"
            android:exported="false"
            android:label="Kalkulator Nutrisi" />
        <activity
            android:name=".ui.search_calories.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search_calories.SearchCaloriesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.RegisterActivity"
            android:exported="false"
            android:label="@string/text_register" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.signup.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>